<div class="registration-container">
  <!--<div class="container-header">-->
    <!--<div class="registration-header">Login</div>-->
  <!--</div>-->
  <!--<div class="subheader-separator"></div>-->

  <div class="field-container">
    <form [formGroup]="login">
      <div class="input-field-container">
        <label for="username" class="input-label-text">Username</label>
        <input class="input-styling" formControlName="username" id="username" required>
      </div>

      <div class="input-field-container">
        <label for="password" class="input-label-text">Password</label>
        <input type="password" class="input-styling" formControlName="password" id="password" required>
      </div>

      <div class="input-button-container">
        <input (click)="userAccountLogin()"
               type="button"
               class="submit-button"
               id="register-new-user"
               value="Register">
      </div>
    </form>
  </div>

</div>
