<div class="profile-container">
<div class="account-settings-title">Account Settings</div>
<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title class="account-settings-header">Change Email</mat-panel-title>
    </mat-expansion-panel-header>
    <div class="settings-container">
      <form [formGroup]="emailSettings">
        <div class="input-field-container">
          <label for="current-email" class="input-label-text">Current Email</label>
          <input type="email"
                 class="input-styling"
                 formControlName="currentEmail"
                 id="current-email"
                 [ngClass]="{'is-invalid': submitted && emailSettings.controls['currentEmail'].error }">
        </div>

        <div class="input-field-container">
          <label for="new-email" class="input-label-text">New Email</label>
          <input type="email"
                 class="input-styling"
                 formControlName="newEmail"
                 id="new-email"
                 [ngClass]="{'is-invalid': submitted && emailSettings.controls['newEmail'].error }">
        </div>

        <div id="change-email-form-feedback" class="feedback-message" style="display: none;">
          <div class="feedback-message-style">{{emailFeedbackMessage}}</div>
        </div>

        <div class="account-button-container">
          <input (click)="changeEmail()"
                 style="float: left;"
                 type="button"
                 class="submit-button"
                 id="change-email-submission"
                 value="Change Email">
        </div>
      </form>
    </div>
  </mat-expansion-panel>


  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title class="account-settings-header">Change Password</mat-panel-title>
    </mat-expansion-panel-header>
    <div class="settings-container">
      <form [formGroup]="passwordSettings">
        <div class="input-field-container">
          <label for="current-password" class="input-label-text">Current Password</label>
          <input type="password"
                 class="input-styling"
                 formControlName="currentPassword"
                 id="current-password"
                 [ngClass]="{'is-invalid': submitted && passwordSettings.controls['currentPassword'].error }">
        </div>

        <div class="input-field-container">
          <label for="new-password" class="input-label-text">New Password</label>
          <input type="password"
                 class="input-styling"
                 formControlName="newPassword"
                 id="new-password"
                 [ngClass]="{'is-invalid': submitted && passwordSettings.controls['newPassword'].error }">
        </div>

        <div class="input-field-container">
          <label for="confirm-password" class="input-label-text">Confirm Password</label>
          <input type="password"
                 class="input-styling"
                 formControlName="confirmPassword"
                 id="confirm-password"
                 [ngClass]="{'is-invalid': submitted && passwordSettings.controls['confirmPassword'].error }">
        </div>

        <div id="change-password-form-feedback" class="feedback-message" style="display: none;">
          <div class="feedback-message-style">{{passwordFeedbackMessage}}</div>
        </div>

        <div class="account-button-container">
          <input (click)="changePassword()"
                 style="float: left;"
                 type="button"
                 class="submit-button"
                 id="change-password-submission"
                 value="Change Password">
        </div>
      </form>
    </div>
  </mat-expansion-panel>
</mat-accordion>
<input type="button" class="log-out-button" (click)="logOut()" value="Log Out">
</div>

